*.zwc
Icon*
.defaults
.nobrew
.contact
.github_contact
Brewfile*.lock.json

# Ignore Finder metadata files
.DS_Store
._*

# No build directories
build
# vim bundles are handled by Vundle
vim/view
vim/.netrw*
# Ignore contents of config folder
config/*
# Ignore settings files from Sublime Text
local/config/ST/MarkdownPreview.sublime-settings
local/config/ST/Preferences.sublime-settings
local/config/ST/Package Control.cache
local/config/ST/Package Control.cache/*
local/config/ST/Package Control.last-run
local/config/ST/Package Control.merged-ca-bundle
local/config/ST/Package Control.system-ca-bundle
local/config/ST/Package Control.user-ca-bundle
local/config/ST/*.crt
local/config/ST/formatter.assets/*
local/config/ST/Terminus.hidden-color-scheme
local/config/ST/Terminus/Terminus.hidden-color-scheme
# Ignore settings files from Sublime Merge
local/config/SM/Preferences.sublime-settings
# Ignore unencrypted files
zim/tokens.zsh
